* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #c89666;
  /* background-color: #51d0de; */
  /* background-color: #0f2862; */
  /* background-color: #9dc88d; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
