.signin-form {
  width: 300px;
  margin: 10px auto;
  padding: 30px;
  background-color: #282828;
  border-radius: 10px;
  color: whitesmoke;
}

.form-btns {
  display: flex;
  justify-content: space-between;
}
